<footer class="md-padding footer" style="border-radius: 1.5rem;">
    <div id="btmFooter" flex>
        <div class="footerContentLeft">
            <a class="footer-logo" herf routerLink="/home">
                <img src="assets/logo.png" alt="Let's Learn" width="60px">
            </a>
            <div class="copy-right">
                <span class="pointer" routerLink="">&copy; Seeds</span>
                <a herf routerLink="/policy/privacy" style="text-decoration: underline;">Privacy & Cookies</a>
            </div>
        </div>
        <div class="footerContent">
            <div class="pointer">
                <img class="sn" src="assets/facebook.svg">
                <img class="sn" src="assets/instagram.svg">
                <img class="sn" src="assets/twitter.svg">
            </div>
        </div>
        <div class="footerContentRight">
            <a herf routerLink="/policy/contact">Contact</a>
            <a herf routerLink="/policy/faq">FAQ</a>
        </div>
    </div>
</footer>
