<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Reset Password</h4>
                        <p class="card-category">Please enter to your new password.</p>
                    </div>
                    <br>
                    <div class="card-body">
                        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" style="border: none;">
                            <div class="container">
                                <label for="password"><b>Password</b></label>
                                <mat-form-field class="password_form view-pass">
                                    <input class="input_form" matInput formControlName="password"
                                        [type]="hide ? 'password' : 'text'" name="password" id="password" required>
                                    <mat-icon matSuffix class="pointer" (click)="hide = !hide">{{hide ? 'visibility_off'
                                        : 'visibility'}}
                                    </mat-icon>
                                </mat-form-field>
                                <small class="text-danger" *ngIf="(!resetForm.valid && resetForm.get('password')?.errors) && 
                                (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)">
                                    <div>
                                        Your password must be at least 8 characters long.
                                    </div>
                                </small>
                                <br>
                                <label for="conpass"><b>Confirm password</b></label>
                                <mat-form-field class="input_text">
                                    <input class="input_form" matInput formControlName="conpass" type="password"
                                        name="conpass" id="Conpass" required>
                                </mat-form-field>
                                <small class="text-danger"
                                    *ngIf="(!resetForm.valid && resetForm.get('conpass')?.errors) && (resetForm.get('conpass')?.dirty || resetForm.get('conpass')?.touched)">
                                    <div>
                                        Your password and confirm password must be matched.
                                    </div>
                                </small>
                                <button style="background-color: #ccdceb;" mat-stroked-button type="submit"
                                    class="button" class="pointer" [disabled]="resetForm.invalid">Submit<span
                                        class="material-icons">
                                        chevron_right
                                    </span></button>
                                <hr>
                            </div>
                            <br>
                        </form>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h1 style="font-weight: bold;">Seeds</h1>
                <h2>Best opportunity to grow together.</h2>
                <div class="card card-profile">
                    <img src="/assets/welcome.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>